<app-navbar-style-two></app-navbar-style-two>
<div class="profile-container" *ngIf="accountCustomer!=null" >
    <div class="profile-container-left">
        <div class="profile-left-image"></div>
        <div class="profile-left-work"></div>
    </div>
    <div class="profile-container-right">
        <div class="profile-right-top"style="height: 25vh;">
            <h1>{{accountCustomer.accountname}}&nbsp;<span><i class="fa-solid fa-location-dot"></i>&nbsp;{{accountCustomer.accountadd}}</span></h1>
                <div class="profile-container-button" >
                    <button pButton pRipple type="button" label="Edit Information" (click)="openEditForm()"></button>
                <button pButton pRipple type="button" label="Change Password" (click)="openChangePassword()"></button></div>
       
        </div>
        <div class="profile-right-bottom" >
            <div class="card" style="min-height:60vh">
                <p-tabView styleClass="tabview-custom"  >
                    <p-tabPanel >
                        <ng-template pTemplate="header">
                            <i class="pi pi-user"></i>
                            <span>&nbsp; Information</span>
                        </ng-template>
                        <div class="profile-content">
                            <h3>Contact Information</h3>
                            <ul>
                                <li>Phone: &nbsp; &nbsp; &nbsp; &nbsp; {{accountCustomer.accountphone}}</li>
                                <li>Address:&nbsp; &nbsp; &nbsp; &nbsp; {{accountCustomer.accountadd}}</li>
                                <li>Email:&nbsp; &nbsp; &nbsp; &nbsp; {{accountCustomer.accountemail}}</li>
                            </ul>
                            <h3>Basic Information</h3>
                            <ul>
                                <li>Identification:&nbsp; &nbsp; &nbsp; &nbsp;{{accountCustomer.personid}}</li>
                            </ul>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Header II" style="overflow-y:scroll">
                        <ng-template pTemplate="header">
                            <i class="pi pi-calendar"></i>
                            <span>&nbsp;Car Insurance</span>
                           
                        </ng-template>
                        <div class="card" >
 
                            <p-table [value]="listEstimate" sortMode="multiple" *ngIf="listEstimate!=null">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="paymentdate">Payment Date <p-sortIcon field="paymentdate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="expirationdate">Expired Date <p-sortIcon field="expirationdate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="category">Car <p-sortIcon field="category"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="policyid">Policy <p-sortIcon field="policyid"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="numbermonth">Duration <p-sortIcon field="numbermonth"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="insurancefee">Insurance Fee <p-sortIcon field="insurancefee"></p-sortIcon>
                                        </th>
                                        <th ></th>
                                        
                                    </tr>
                                </ng-template>
                              
                                <ng-template pTemplate="body" let-listEstimate>
                                    <tr>
                                        <td>{{listEstimate.paymentdate}}</td>
                                        <td>{{listEstimate.expirationdate}}</td>
                                        <td>{{myMap.get(listEstimate.policyid)}}</td>
                                        <td >{{listEstimate.policyid}}</td>
                                        <td>{{listEstimate.numberyear}} Year</td>
                                        <td>${{listEstimate.insurancefee}}</td>
                                        <td><button pButton pRipple type="button" icon="pi pi-info-circle" class="p-button-rounded p-button-info p-button-text" (click)="showEdit(listEstimate.estimateid)"></button></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Insurance Information" [(visible)]="display" [style]="{width: '1200px'}" >
    <div class="popup-content-preview" *ngIf="accountCustomer" >

        <div class="row preview preview-header">
            <div class="col-lg-6 preview-header-logo"><img loading="lazy"
                    src="../../../../../assets/img/logo/logo.png"
                    alt="" /></div>
            <div class="col-lg-6  preview-header-address">
                <h2>Truz Insurance Agency</h2>
                <span>35/6 D5</span>
                <br>
                <span>Binh Thanh District, Ho Chi Minh City</span>
                <br>
                <span>+(84)–123456789</span>
                <br>
                <span>www.truzinsuranceagency.com</span>
            </div>

        </div>
        <hr>
        <div class="row preview preview-header">
            <div class="col-lg-6 preview-header-logo">
                <h3>Insurance Proposal Prepared Exclusively For</h3>
                <span>{{accountCustomer.accountname}}</span>
                <br>
                <span>{{accountCustomer.accountadd}}
                </span>
                <br>
                <span>{{accountCustomer.accountemail}}
                </span>
                <br>
                
            </div>

            <div class="col-lg-6 preview-header-address">
                <h3>Prepared By</h3>
                <span>William Horton</span>
                <br>
                <span>(214) 555-5556</span>
                <br>
                <span>abc@gmail.com</span>
            
            </div>

        </div>
        <hr>

        <div class="row preview preview-policy">
            <div class="preview-policy-vehicle">
                <h2>Personal Auto Policy</h2>
                <h3>VEHICLES</h3>
                <h4>{{nameCar}}</h4>
                <div class="row preview-policy-price">
<div class="row ">
    <div class="col-lg-6">
        <div class="preview-policy-price-detail">
            <h5 style="text-transform:uppercase">{{estimate.vehicleenginenumber}}</h5>
            <span>Car Number Plate</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="preview-policy-price-detail">
            <h5 style="text-transform:uppercase">{{estimate.vehiclebodynumber}}</h5>
            <span>Body Car Number</span>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-lg-6">
        <div class="preview-policy-price-detail">
            <h5>{{estimate.numberyear}} Year</h5>
            <span>Duration</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="preview-policy-price-detail">
            <h5>{{estimate.expirationdate}}</h5>
            <span>Expiration Date</span>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-lg-6">
        <div class="preview-policy-price-detail">
            <h5 >${{estimate.insurancefee}}</h5>
            <span>Insurance fee</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="preview-policy-price-detail">
            <h5 estimateValue>${{estimate.valueestimate}}</h5>
            <span>Value Estimate</span>
        </div>
    </div>
</div>
                   
                    


                   
                </div>
            </div>

            <div class="col-12">
                <p-divider align="left">
                    <h4>MAXIMUM COMPENSATION VALUE</h4>
                </p-divider>
                <div class="row" *ngIf="estimate.vehicletheft != 0">
                    <span  style="font-size: 20px;">Vehicle theft: <strong>${{estimate.vehicletheft * estimate.valueestimate }}</strong></span>
                </div>
                <div class="row" *ngIf="estimate.vehicleaccident != 0" >
                    <span style="font-size: 20px;">Vehicle accident: <strong>${{estimate.vehicleaccident * estimate.valueestimate }}</strong></span>
                </div>
                <div class="row" *ngIf="estimate.vehiclebody != 0">
                    <span   style="font-size: 20px;">Vehicle body: <strong>${{estimate.vehiclebody * estimate.valueestimate }}</strong></span>
                </div>
                <div class="row" *ngIf="estimate.vehicleengine != 0">
                    <span   style="font-size: 20px;">Vehicle engine: <strong>${{estimate.vehicleengine * estimate.valueestimate }}</strong></span>
                </div>
                <div class="row" *ngIf="estimate.flood != 0">
                <span  style="font-size: 20px;">Vehicle flood: <strong>${{estimate.flood * estimate.valueestimate }}</strong></span>                    
                </div>

            </div> 
            <p-divider></p-divider>
            
            <div class="row preview-policy-driver">
                <h3>Client</h3>
                <h4><span>{{accountCustomer.accountname}}</span>
                </h4>
            </div>
        </div>


        <div class="row preview preview-summary">
            <div class="preview-summary-detail">
                <div class="preview-summary-detail-title">
                    <h3>The amount paid</h3>
                </div>
                <div class="preview-summary-detail-number" style="font-size: 20px;">${{estimate.insurancefee}}
                </div>
            </div>

        </div>
        <h5 style="margin:5% 0;">Disclosure: The premium estimates and coverage limits outlined in the proposal above
            are based upon the accuracy of
            the
            information you provided and may not represent all coverages available. This
            proposal does not constitute a contract or binder of insurance and premium amounts cannot be guaranteed
            until
            coverage
            is purchased. For additional information regarding the assumptions used to
            prepare this proposal or to purchase insurance coverage, please contact your agent at the phone number
            listed above.
        </h5>
        
    </div>
</p-dialog>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<update-profile></update-profile>
<change-password></change-password>
<app-footer-style-two></app-footer-style-two>

