<app-navbar-style-two></app-navbar-style-two>


<div class="container-about">
    <div class="section section-header">

        <div class="section section-header__bottom">
            <div class="header">
                <h2>About Us</h2>
                <h3>Home <span>&sdot;</span> About Us</h3>
            </div>

        </div>
    </div>
    <div class="section section-body">
        <div class="section-body__content">
            <div class="section-body__content-image">
                <img src="../../../../assets/img/aboutus/achievements-img1.jpg" alt="">
                
            </div>
            <div class="section-body__content-infor">
                <h4>About Us</h4>
                <h1>We've Been Thriving in 37 Years The Area</h1>
                <p>
                    For over 37 years, clients have trusted TRUZ to advise them during the most trying and celebratory times, helping them achieve success by becoming more resilient and attaining the possible. With new risks and opportunities constantly emerging, we help you navigate the changing risk landscape, realize your ambitious goals, and make your future more secure.
                </p>
            </div>


        </div>
        <div class="section-body__content">
            <div class="section-body__content-box">
                <h4>Our History</h4>

                <p>With offices in more than 130 countries, Marsh is the world’s leading insurance broker and risk advisor. We provide industry-focused brokerage, consulting, and claims advocacy services, leveraging data, technology, and analytics to help reduce our clients’ total cost of risk.</p>
            </div>
            <div class="section-body__content-box">
                <h4>Global Reach</h4>

                <p>With offices in more than 130 countries, Marsh is the world’s leading insurance broker and risk advisor. We provide industry-focused brokerage, consulting, and claims advocacy services, leveraging data, technology, and analytics to help reduce our clients’ total cost of risk.</p>
            </div>
            <div class="section-body__content-box">
                <h4>Our Mission</h4>

                <p>We take pride in bettering our community and being active members in it. LIBA allows us to unite with other businesses in town to promote and perpetuate the free-enterprise system. We focus on supporting the success of all businesses in Lincoln, ultimately creating a better Lincoln for everyone..</p>
            </div>
        </div>

    </div>
    
    <div class="section section-why">
        <div class="section-why__image">
            <div class="banner1 slide1">
                <img src="../../../../assets/img/aboutus/hanoi.jpg" alt="">
                <div class="text-box zoom1">
                    <h1 class="text-light">Ha Noi</h1>
                    <!--             <span></span> -->
                </div>
            </div>
            <div class="banner2 slide2">
                <img src="../../../../assets/img/aboutus/hcm.jpg" alt="">
                <!--         <span></span> -->
                <div class="text-box zoom2">
                    <h1 class="text-light">Ho Chi Minh City</h1>
                </div>
            </div>
            <div class="banner3 slide3">
                <img src="../../../../assets/img/aboutus/dn.jpg" alt="">
                <!--         <span></span> -->
                <div class="text-box zoom3">
                    <h1 class="text-light">Da Nang</h1>
                </div>
            </div>
        </div>
        <div class="section-why__content">
            <h4>Your Benefits</h4>
            <h1 class="text-light">Why Choose Us</h1>
            <p class="text-light">The quality of our service is based on our well-trained, professional staff and our serious, conscientious attitude with clients. Each of our customer service representatives is a licensed insurance agent and we continue our education to endeavor to stay aware of the latest trends, coverages, and techniques. We're involved in our communities and we deliberately organized ourselves to provide the most freedom to our clients. </p>
            <div class=" section-why__container">
                <div class="section-why__column">
                    <h3 class="text-light">25 Years Of Experience</h3>
                    <p class="text-light">We have 25 Years Of Experience</p>
                    <h3 class="text-light">Service With Love</h3>
                    <p class="text-light">We have Service With Love</p>
                </div>
                <div class="section-why__column">
                    <h3 class="text-light">24/7 Support</h3>
                    <p class="text-light">Customers will be 24/7 support </p>
                    <h3 class="text-light">Clients Focused</h3>
                    <p class="text-light">Customers will be focused</p>
                    <h3 class="text-light">Growing Your Business</h3>
                    <p class="text-light">Customers will be Growing Your Business</p>
                </div>

            </div>

        </div>
    </div>
    <div class="section section-testimonial">
        <h4>Our Feedback</h4>
        <h1>What Client Says</h1>
        <p class="header-p">Some feadback form our customer </p>
        <div class="quotes page-width">
            <div class="quotes-slide slideshow__slide--active" data-slider-slide-index="0" aria-hidden="false"
                tabindex="-1">
                <blockquote class="quotes-slider__text text-left" style="border-left-color: transparent;" >
                    <span class="quote-icon">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote"
                            viewBox="0 0 41 35">
                            <path
                                d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                            </path>
                        </svg>
                    </span>

                    <div class="content">
                        <p>Must go faster. Hey, take a look at the earthlings. Goodbye! I was part of something special.
                            Jaguar
                            shark! So tell me - does it really exist? They're using our own satellites against us. And
                            the clock
                            is ticking. Must go faster... go, go, go, go, go!
                        </p>
                    </div>
                    <cite>Jeff Goldblum</cite>
                </blockquote>
            </div>

            <div class="quotes-slide slideshow__slide--active" data-slider-slide-index="1" aria-hidden="false"
                tabindex="-1">
                <blockquote class="quotes-slider__text text-left" style="border-left-color: transparent;">
                    <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                            class="icon icon-quote" viewBox="0 0 41 35">
                            <path
                                d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                            </path>
                        </svg>
                    </span>

                    <div class="content">
                        <p>I was part of something special. God help us, we're in the hands of engineers. Jaguar shark!
                            So tell
                            me - does it really exist? Checkmate... We gotta burn the rain forest, dump toxic waste,
                            pollute the
                            air, and rip up the OZONE! 'Cause maybe if we screw up this planet enough, they won't want
                            it
                            anymore!
                        </p>
                    </div>
                    <cite>Jeff Goldblum</cite>
                </blockquote>
            </div>

            <div class="quotes-slide slideshow__slide--active" data-slider-slide-index="2" aria-hidden="false"
                tabindex="-1">
                <blockquote class="quotes-slider__text text-left" style="border-left-color: transparent;">
                    <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                            class="icon icon-quote" viewBox="0 0 41 35">
                            <path
                                d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z">
                            </path>
                        </svg>
                    </span>
                    <div class="content">
                        <p>Must go faster... go, go, go, go, go! Yes, Yes, without the oops! Life finds a way. My dad
                            once told
                            me, laugh and the world laughs with you, Cry, and I'll give you something to cry about you
                            little
                            bastard! Hey, you know how I'm, like, always trying to save the planet? Here's my chance.
                        </p>
                    </div>
                    <cite>Jeff Goldblum</cite>
                </blockquote>
            </div>

        </div>

    </div>
    <div class="section section-branding">
        <h1>Our Partner</h1>
        <div id="logos-home-page">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide"><img class="alignnone size-full wp-image-13024"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-wipro_logo.jpg"
                            alt="" width="60" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13023"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-w.l.-gore-logo.jpg"
                            alt="" width="110" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13022"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-visa.jpg"
                            alt="" width="188" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13021"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-vf_circle_logo-290.jpg"
                            alt="" width="60" height="60" /></div>
                    <div class="slide"><img class="alignnone size-full wp-image-13020"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-unitedhealthcareprocycling_logo2017-trans.jpg"
                            alt="" width="285" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13019"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-tyco-electronics-logo.jpg"
                            alt="" width="184" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13018"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-toyota-logo.jpg"
                            alt="" width="73" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13017"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-thyssenkrupp.jpg"
                            alt="" width="79" height="60" /></div>
                    <div class="slide"><img class="alignnone size-full wp-image-13016"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-tech_mahindra_new_logo.jpg"
                            alt="" width="212" height="60" /></div>
                    <div class="slide"><img class="alignnone size-full wp-image-13015"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-standard-chartered-bank-777x437.jpg"
                            alt="" width="155" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13014"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-solix-logo.jpg"
                            alt="" width="237" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13013"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-smuckers_logo.jpg"
                            alt="" width="194" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13012"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-siemens-logo-300x49.jpg"
                            alt="" width="300" height="49" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13011"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-sap-logo.jpg"
                            alt="" width="118" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13010"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-paypal.jpg"
                            alt="" width="230" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13009"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-otterbox.jpg"
                            alt="" width="92" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13008"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-ntt_communications_.jpg"
                            alt="" width="243" height="60" /></div>
                    <div class="slide"><img class="alignnone size-full wp-image-13007"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-nike-logo-free-png-image.jpg"
                            alt="" width="115" height="60" /></div>
                    <div class="slide"><img class="alignnone size-full wp-image-13006"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-nestle.jpg"
                            alt="" width="202" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13005"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-mtuity-logo.jpg"
                            alt="" width="173" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13004"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-lancaster.jpg"
                            alt="" width="187" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13003"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-kaneka.jpg"
                            alt="" width="233" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13002"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-intel-logo.jpg"
                            alt="" width="90" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13001"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-ibm_logo.jpg"
                            alt="" width="150" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12999"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-hitachi_logo-300x52.jpg"
                            alt="" width="300" height="52" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-13000"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-huawei-logo-web.jpg"
                            alt="" width="241" height="60" /></div>
                    <div class="slide"><img class="alignnone size-full wp-image-12998"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-hero-cycles-logo.jpg"
                            alt="" width="242" height="60" /></div>
                    <div class="slide"><img class="alignnone size-full wp-image-12997"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-heatcraft.jpg"
                            alt="" width="195" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12995"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-fujitsu.jpg"
                            alt="" width="119" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12996"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-goodyear-tires-in-ohio-300x60.jpg"
                            alt="" width="300" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12994"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-fedexlogo.jpg"
                            alt="" width="204" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12993"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-ezdi-logo.jpg"
                            alt="" width="279" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12992"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-ericsson.jpg"
                            alt="" width="295" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12991"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-dpt_dupont_logo_thumbnail_690x345.jpg"
                            alt="" width="150" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12990"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-collabera-logo.jpg"
                            alt="" width="217" height="60" /></div>
                    <div class="slide"><img class="alignnone size-medium wp-image-12989"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-coca-cola.jpg"
                            alt="" width="175" height="60" /></div>
                    <div class="slide"><img class="alignnone size-full wp-image-12988"
                            src="https://garwoodcenter.wpengine.com/wp-content/uploads/2018/02/mini-logo-applied_materials_logo.jpg"
                            alt="" width="237" height="60" /></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../../assets/js/aboutus/index.js"></script>
<app-footer-style-two></app-footer-style-two>