<app-navbar-style-two></app-navbar-style-two>
<div class="home-header-section">

</div>
<div class="home-header-section-title">
    <span>Enjoy Your Happiness</span>
    <h1 style="color:white;">Execute Happiness By Incredible Opportunities</h1>
    <p style="color:white;"> The happiest people don’t have the best of everything. They just make the best of everything.</p>
    <a href="/buy"><button class="btn5-hover btn5">Buy Insurance</button></a>
</div>
<div class="home-header-section-boxes">
    <div class="home-header-section-box">
        <div class="home-header-section-box-content">
            <h2>Trustworthy Company</h2>
            <span> It is not so much our friends’ help that helps us as the confident knowledge that they will help us.</span>
        </div>
    </div>
    <div class="home-header-section-box">
        <div class="home-header-section-box-content">
            <h2>Smart Investment</h2>
            <span>Not everything that can be counted counts, and not everything that counts can be counted. –Albert Einstein</span>
        </div>
    </div>
    <div class="home-header-section-box">
        <div class="home-header-section-box-content">
            <h2>Support from our team</h2>
            <span>Offering tailored support during business hours to help you get the right policy for the right price</span>
        </div>
    </div>
</div>
<div class="home-body-section">
    <div class="home-body-section-content">
        <div class="home-body-section-left">
            <h2>What is Car Insurance?</h2>
            Car insurance is a contract between a car owner and a general insurance company wherein the latter promises to protect the car owner from financial losses which may occur due to an unfortunate event involving his/her car. Depending on the scope of coverage, there are 3 types of car insurance policies - Third-Party Car Insurance, Standalone Own-Damage (OD) Car Insurance, and Comprehensive Car Insurance. To continue to avail the benefits of these policies, the car insurance renewal should be processed on time by policyholders.
        </div>
        <div class="home-body-section-right">

        </div>
    </div>
 
    <div class="home-body-section-content">
        <div class="row col-lg-12" style="text-align: center;">
            <h2>Some Policy Elements That We Offer</h2>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-4 col-md-6" style="width: 33.33333333%; padding: 5px;">
           
                <div class="blog-card">
                    <a routerLink="/policy"><img src="assets/img/blog/blog3.jpg" alt="Images"></a>
                    <div class="content">
                        <h3><a routerLink="/policy">Auto Accident Insurance</a></h3>  
                        <a routerLink="/policy" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="width: 33.33333333%; padding: 5px;">
                <div class="blog-card">
                    <a routerLink="/policy" ><img src="assets/img/blog/blog4.jpg" alt="Images" style="width: 100%;"></a>
                    <div class="content">
                        <h3><a routerLink="/policy">Auto Theft Insurance</a></h3>  
                        <a routerLink="/policy" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="width: 33.33333333%; padding: 5px;">
                <div class="blog-card">
                    <a routerLink="/policy"><img src="assets/img/blog/blog11.jpg" alt="Images"></a>
                    <div class="content">
                        <h3><a routerLink="/policy">Auto Body Insurance</a></h3>  
                        <a routerLink="/policy" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-body-section-content">

        <h2>What level of cover do I need?</h2>
        No two drivers are the same, so when you take out car insurance you'll be able to choose between many basic levels of cover.
        <div class="home-body-section-column">
            <img src="../../../../assets/img/home/image1.jpg" alt="">
            <img src="../../../../assets/img/home/image2.jpg" alt="">
            <img src="../../../../assets/img/home/image3.jpg" alt="">
        </div>
        <h2>Do I need car insurance?</h2>
        If you own or drive a car in the UK, the law says you must have at least third-party only insurance. You must have insurance, even if you don’t drive your car, and you keep it parked on a road, driveway or in a garage. This applies to all drivers.
    </div>
</div>

<app-footer-style-two></app-footer-style-two>